body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.png');
    color: rgb(235, 230, 210);
    background-color: rgb(81, 69, 58);
    margin: 20px
}

button {
    background-color:rgb(99, 66, 4) ;
    color: rgb(245, 244, 222);
    font-size: 18px;
    border-radius: 10px
}

.Title {
    font-family: "Luminari";
    color: rgb(209, 158, 92);
    margin-left: 10px;
}

.DiceCount {
    display: block;
    float: left;
    margin-bottom: 5px;
}

.BidMsg {
    display: block;
    float: middle;
}

.RenderBids {
    display: block;
    float: left;
}

.Hands {
    display: block;
    float: left;
}

.OtherHands {
    float: right;
    margin: 10px;
    margin-right: 30px;
}

.bid-log-parent {
    display: flex
}

.bid-log-child {
    flex: 1;
}